<h2>Edit Post</h2>
<div class="row mt-4">
    <div class="col-md-6">
        <h3>Edit your post</h3>


        <form class="form new-post-form" id="new-post-form">
            <div class="form-group">
                <label for="title-new-post">Blog Name:</label>
                <input class="form-input" type="text" id="title-new-post" name={{id}} value='{{title}}'></input>
            </div>
            <div class="form-group">
                <label for="content-new-post">Content:</label>
                <textarea class="form-input" id="content-new-post" name="content-new-post">{{textContent}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
        </form>
    </div>
</div>

<br>
<h4 class="text-center">--comments--</h4>

{{#if comments}} 



{{#each comments as |comment|}} 
{{!-- //{{> blog.blog-details}}// --}}
{{!-- <h2>{{blog.title}}</h2> --}}
{{> comment-details}}


{{/each}}
{{else}}
<h3>No comments</h3>
{{/if}}
<div class="form-group">
                <button type="submit" class="btn btn-primary">Add comment</button>
            </div>
<script src="/js/edit-blog.js"></script>